@model  ProductDetailsViewModel

@{
    ViewBag.Title = "Product Details";
    var photoPath = "~/images/" + (Model.Product.ImageURL ?? "showcase.jpg");
}

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Product.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                    <p>@Model.Product.Description</p>
                 
                    <h4>Availability : @Model.Product.Availability</h4>

                    <h4>Price: @Model.Product.Price</h4>

                </div>
                <div class="card-footer text-center">
                    <a asp-controller="products" asp-action="index" class="btn btn-primary">Back</a>

                    <a asp-controller="products" asp-action="addtocart" asp-route-id="@Model.Product.Id" class="float-right text-secondary"
                       onclick="return confirm('Are you sure you want to add this product to the cart?')"><i class="fas fa-2x fa-cart-plus"></i></a>
                </div>
            </div>
        </div>
    </div>

